# -*- mode: gitignore; -*-
*.elc
*.eld
*~
.\#*
.cache/
.dap-breakpoints
.extension/
.lsp-session*
.mc-lists.el
.org-id-locations
/elpa/
/eshell/
/transient/
\#*\#
anaconda-mode/
eln-cache/
melpa
network-security.data
projectile.cache
projects
recentf
session.*
tramp
tutorial/
var/
workspace/
url/

# Ignore API keys stored in secret.el
settings/secret.el

# Ignore tree-sitter .so files
tree-sitter/

# Ignore org-roam database
org-roam.db
